<html>
<head>
	<title>Is there time?</title>
</head>
<body>
	<h1>The current time is: <%= Time.now %></h1>
</body>
</html>

<%= 5 + 10 %>
<%= "drop it".upcase %>
<%= ["h", "e", "y"].join %>

<ul>
	<% ["mike", "tina", "penny"].each do |name| %>
		<li><%= name %></li>
	<% end%>
</ul>